/* wrappers blqjs-nojs-mobile */

/* NOJS-JS */
#newsspec_4950_no-js {
    display: block;
}
#newsspec_4950 {
    display: none;
}
.blq-js #newsspec_4950_no-js {
    display: none;
}
.blq-js #newsspec_4950 {
    display: block;
}

/*Mobile JS*/
.blq-js #newsspec_4950.mobile {
    display: none;
}

/* styles both desktop and mobile */
#newsspec_4950 {
    ul li {
        background-image: none;
    }
    /*Introduction*/
    .introduction {
        width: 100%;
        overflow: hidden;
    }
    .introduction__text-bold {
        font-weight: bold;
    }
    /*Choices*/
    .choices {
        .gender {
            padding-bottom: .9em;
            h3 {
                color: $bbc-grey;
                font: bold 1.385em/1em Arial;
                margin: 0;
                padding: 0.6em 0 0 0.6em;
                color: $bbc-grey;
                display: block;
            }
            
        }
        .location {
            @extend .gender;
            select {
                @include mySelect;
                span {
                    @include selectSpan;
                }
            }
            .styled-select {
                @include myStyledSelect; 
                span {
                    @include selectSpan;
                }   
            }
        }
        .occupation {
            margin: 0;
            @extend .location;
        }
        form#gender-select {
            @include reset;
            overflow: hidden;
            .half-wide {
                float: left;
                height: 2.5em;
                padding: 1em 0 0 1.1em;
                width: 43%;
                @include genderBg;
                &.last {
                    @include genderBg(78px -104px);  
                }
                input {
                    @include floatAndWidth;
                    clear: none;

                }
                label {
                    @extend input;
                    padding-left: 0.4em;

                }
                &.selected {
                    @include genderBg(78px -52px);
                    &.last {
                        @include genderBg(78px -156px);
                    }
                }

            }
            }/* end of gender */
            /*List of occupations*/
            #occupation-list {
                @include list;
                > div {
                    cursor: pointer;    
                    padding: 7px 4px;
                    &:hover {
                     background-color: #39f;
                     color: #fff;
                 }
                 &:hover .subhead {
                    color: #fff;
                }
                .head {
                    @include reset;
                    color: darken(#999, 50%);
                    font-weight: bold;
                    font-size: 14px;
                }
                .subhead {
                    @include reset;
                    color: #999;
                    font-size: 11px;
                    font-style: italic;
                    padding-left: 12px;
                }
                .selected {
                    background-color: #dedede;
                }
            }
            } //end of occupations list
            #occupation-list.display {
                display: block;
            }
            #location-list {
                @include list;
                position: absolute;
                color: darken(#999, 50%);
                font-weight: bold;
                height: 14.8em;
                width: 13.8em;
                ul {
                    @include reset;
                }
                ul li {
                    margin: 0;
                    padding: 7px 4px;
                    font-size: 1em;
                    &:hover {
                        cursor: pointer; 
                        background-color: #39f;
                        color: #fff;
                    }
                }
            }
            #location-list.display {
                display: block;
            }
    } //end of choices

            .results {
                .default {
                    display: block;
                    .orange-bold {
                        display: inline;
                        color: $bbc-orange;
                        font-weight: bold;
                        font-size: 2.462em;
                    }   
                }//end of default
                .all-results {
                    display: none;
                    overflow: hidden;
                    h3 {
                        @include reset;
                        font-size: 1.231em;
                        padding: 0.6em 0 0 0.6em;
                        color: $bbc-grey;
                    }
                    .results-set {
                        float: left;
                        height: auto;
                        padding: 0.615em 0 0 1em;
                        width: 31.2%;
                        .your-choice {
                            font: bold 1.154em/1em Arial;
                            margin-bottom: 0.308em;
                            text-align: left;
                        }
                        .result-absolute {
                            float: left;
                            width: 10.5em; 
                            .percentage {
                                color: $your-choice-gender;
                                font: bold 3.692em/1em Arial;
                            }
                            .number {
                                font-size: 1.231em;
                                margin-bottom: 1.462em;
                            }
                            p {
                                @include reset;
                                display: block;
                                span {
                                    padding-left: 0.615em;
                                }
                            }
                            .no-data {
                                font-size: 2.8em;
                                line-height: 1.32em;                                
                            }
                            } //end of results absolute
                            .result-relative {
                                float: left;
                                padding-top: 0.8em;
                                width: 4em;
                                height: auto;
                                h4 {
                                    color: $bbc-grey;
                                    font: bold 1em/1em Arial;
                                    padding: 0.9em 1em 0.9em 1.25em;
                                }
                                .down {
                                 @include relativeResultBg(3px 27px);
                             }
                             .up {
                                 @include relativeResultBg(3px -90px); 
                             }
                             .zero {
                                @include relativeResultBg(0 -176px); 
                            }
                            p {
                                @include reset;
                                text-align: center;
                                font: normal 11px/1em Arial;

                            }
                            }//end of results relative 
                            .result-history {
                                clear: both;
                                p {
                                    @include reset;
                                    span {
                                        padding-left: 1em;
                                    }
                                }
                            }  
                            .long-arrow {
                                background: url('/news/special/2013/newsspec_4950/img/long_arrow.png') 151px top no-repeat
                            }
                            }//end of results set
                            #location-result {
                                .percentage {
                                    color: $your-choice-location;
                                }
                            }
                            #occupation-result {
                                .percentage {
                                    color: $your-choice-occupation;
                                }
                            }
                            .visible {
                                visibility: visible;
                            }
                            .red {
                                color: red;
                            }

                } //end of all results
            }

    }
