/* wrappers blqjs-nojs-mobile */

/* NOJS-JS */

#newsspec_4950 {
    .newsspec-4950--no-js {
        display: block;
    }
    .newsspec_4950--js {
        display: none;
    }
}

//Mobile JS
.blq-js #newsspec_4950.mobile {
    display: none;
} 

/* Styles both desktop and mobile */
#newsspec_4950 {
    font-size: 13px;

    /* Introduction */
    .introduction {
        width: 100%;
        overflow: hidden;
    }
    .introduction__title {
        font: bold 1.8462em/1em Arial;
    }
    .default-claims, .default-percentage {
        color: $bbc-orange;
        font-weight: bold;
    }

    /* Choices */
    .choices__gender {
        padding-bottom: .9em;
    }
    .choices__gender-header {
        @include choiceHeader;
    }
    .choices__gender-select {
        @include reset;
        overflow: hidden;
    }
    .choices__gender-select-item {
        float: left;
        height: 2.5em;
        padding: 1em 0 0 1.1em;
        width: 39%;
        input {
            @include floatAndWidth;
            clear: none;
        }
        label {
            @extend input;
            padding-left: 0.4em;
        }

    }
    
    .choices__location-header {
        @include choiceHeader;
    }
    .choices__location {
        @extend .choices__gender;
    }
    .choices__location-dropdown {
        @include myStyledSelect; 
            span {
                @include selectSpan;
        } 
    }
    .choices__location-list {
        @include list;
        position: absolute;
        color: darken(#999, 50%);
        height: 11.9em;
        width: 13.8em;
        li {
            margin: 0;
            padding: 0.615em 0 0 0.615em;
            font-size: 1.077em;
            &:hover {
                cursor: pointer; 
                background-color: #39f;
                color: #FFFFFF;
            }
        }
    }
    .choices__location-list.display {
        display: block;
    }
    .choices__occupation {
        margin: 0;
        @extend .choices__location;
    }
    .choices__occupation-header {
        @include choiceHeader;
    }
    .choices__occupation-dropdown {
        @include myStyledSelect; 
            span {
                @include selectSpan;
        }
    }
    .choices__occupation-list {
        @include list;
        li {
            cursor: pointer;    
            padding: 0.616em 0 0 0.616em;
            &:hover {
             background-color: #39f;
             color: #FFFFFF;
            }
            .head {
                @include reset;
                color: darken(#999, 50%);
                font-weight: bold;
                font-size: 1.077em;
            }
            .subhead {
                @include reset;
                color: #999999;
                font-size: 0.8462em;
                font-style: italic;
                padding-left: 0.923em;
            }
            &:hover .subhead {
                color: #FFFFFF;
            }
            .selected {
                background-color: #DEDEDE;
            }
        }
        
    }
    .choices__occupation-list.display {
        display: block;
    }

   /* Results */
    .results__default {
        display: block;
        div {
            font-size: 1.0769em;
            font-weight: normal;
        }
    }
    .results__uk-value {
        display: inline;
        color: $bbc-orange;
        font-weight: bold;
        font-size: 2.462em;
    }
    .results__all {
        display: none;
        overflow: hidden;
    }
    .results__all-header {
        font-weight: normal;
        font-size: 1.231em;
        margin: 0.616em 0;
    }
 
   .results__all-item {
        float: left;
        height: auto;
        padding: 0;
        width: 33.3%;
        
        //If there is no data 
        &.no-data {
            .percentage {
                font-size: 2.8em;
                line-height: 1.32em;                                
            }
            .results__all-relative {
                visibility: hidden;
            }
        }
    }
    .results__all-your-choice {
        font: bold 1.154em/1em Arial;
        line-height: 1.2em;
        margin: 0;
        //margin-bottom: 2.17em;
        text-align: left;
    }
    .results__all-absolute {
        float: left;

        .percentage {
            color: $your-choice-gender;
            font: bold 3.692em/1em Arial;
            text-align: center;
            &.desaturated {
                color :  $your-choice-gender-lite;
            }
        }
        .number {
            font-size: 1.231em;
            margin-bottom: 1.462em;
        }
        p {
            @include reset;
            display: block;
            span {
                padding-left: 0.615em;
            }
        }
    }
    .results__all-relative {
        float: left;
        padding-top: 0.8em;
        height: auto;
        h4 {
            color: $bbc-grey;
            font: bold 1em/1em Arial;
            padding: 1em 1.3em;
        }
        .down {
         @include relativeResultBg(3px 27px);
        }
        .up {
            @include relativeResultBg(3px -90px); 
        }
        .zero {
            @include relativeResultBg(0 -176px); 
        }
        p {
            @include reset;
            font: 1em/1em Arial;
            padding: 1em 0 0 0.7em;
            text-align: center;
        }
    }
    .results__all-history {
        clear: both;
        p {
            @include reset;
            span {
                padding-left: 1em;
            }
        }
    }  
                            
    .results__all-item.results__all-location {
        .percentage {
            color: $your-choice-location;
            &.desaturated {
                color : $your-choice-location-lite;
            }
        }
    }
    .results__all-item.results__all-occupation {
        .percentage {
            color: $your-choice-occupation;
            &.desaturated {
                color :  $your-choice-occupation-lite;
            }
        }

    }

    /* Bubble and Line charts */
    .bubble-charts {
        display: none;
    }
    .line-chart {
        display: none;
    }


    

}